.about-img{
    background-image: url('about.png');
    height:750px;
    width: 100%;
    background-size: cover;
}

.about-text{
    height:100%;
    width:100%;
    font-size:30px;
    margin-top:40px;
    margin-bottom:5%;
    text-align: start;
}

.about-text p , h2 , li , blockquote{
    font-weight: 450;
    padding-left: 15px;
    padding-right: 10px;
}

.btn-about{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom:5%;
}
